btn {
    background-color: rgb(154, 106, 199); 
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
  }
  
  
  .btn:hover {
    background-color: rgb(158, 168, 100);
  }